<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667766596710-bnl4kh17klsbatkha0oorka0mcqe61mu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667766596710-bnl4kh17klsbatkha0oorka0mcqe61mu</string>
	<key>API_KEY</key>
	<string>AIzaSyCfPQ-loUOvxn-LSJvMuJiQpyhlLicKLzE</string>
	<key>GCM_SENDER_ID</key>
	<string>667766596710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.licenta</string>
	<key>PROJECT_ID</key>
	<string>licenta-7fd41</string>
	<key>STORAGE_BUCKET</key>
	<string>licenta-7fd41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667766596710:ios:a34a3d89da9a519cca39a7</string>
</dict>
</plist>